:root {
  --font-head: "Poppins", sans-serif;
  --font-body: "Mukta", sans-serif;
  --font-head-secondary: "Montserrat", sans-serif;
  --head-font-color-dark: purple;
  --red: #ff3860;
  --red-dark: #ff1443;
  --red-light: #ff5c7c;
  --blue: #498afb;
  --blue-dark: #2674fa;
  --blue-light: #6ca0fc;
  --orange: #fa8142;
  --orange-dark: #f96a1f;
  --orange-light: #fb9865;
  --green: #09c372;
  --green-dark: #07a15e;
  --green-light: #0be586;
  --purple: #9166cc;
  --purple-dark: #7d4bc3;
  --purple-light: #a481d5;
  --ff0: #ffdd57;
  --ff0-dark: #ffd633;
  --ff0-light: #ffe47a;
  --pink: #ff4088;
  --pink-dark: #ff1c72;
  --pink-light: #ff649e;
  --gray0: #f8f8f8;
  --gray1: rgba(255, 255, 255, 0.654);
  --gray2: #ffffff;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #8200ce;
  --gray6: #12181b;
  --main-background: var(--gray6);
  --CTA-text-color: rgba(255, 255, 255, 0.466);
}
.Social {
  width: 250px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  display: flex;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
input:focus,
textarea:focus {
  outline: none;
}
body {
  height: 100%;
    margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background: linear-gradient(356deg, rgb(2, 1, 44) 0%, rgba(46, 46, 46, 1) 100%);overflow-x: hidden;
  color: var(--gray0);
}
/* 
body.light {
  --gray6: #fafafa;
  --gray5: #8200ce;
  --gray2: #141414;
  --gray0: #000000;
  --purple-light: #7d4bc3;
  --CTA-text-color: #474554;
  --purple-dark: #a481d5;
  --green-dark: #0be586;
  --pink-dark: #ff649e;
  --orange-dark: #fb9865;
}
body.about {
  background-color: white !important;
}
body.tools {
  background-color: white !important;
}

 */
body::-webkit-scrollbar {
  width: 8px;
  padding-right: 2px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.139);
}